<div id="<%= dom_id admin %>">
  <div>
    <strong>Nome:</strong>
    <%= admin.nome %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= admin.email %>
  </div>

  <div>
    <strong>Nickname:</strong>
    <%= admin.nickname %>
  </div>

  <div>
    <strong>Role:</strong>
    <%= admin.role %>
  </div>

</div>
