<div class="frm modal" id="admin-change-pass">
  <%= form_with model: @admin, url: adm_update_password_path(@admin.id) do |f| %>
    <fieldset>
      <%= f.label :password, 'Nova Senha:' %>
      <%= f.password_field :password %>
      <div class="msg" id="password">&nbsp;
        <%= error_tag @admin, :password %>
      </div>
    </fieldset>

    <fieldset>
      <%= f.label :password_confirmation, 'Repita a senha:' %>
      <%= f.password_field :password_confirmation %>
      <div class="msg" id="password_confirmation">&nbsp;
        <%= error_tag @admin, :password_confirmation %>
      </div>
    </fieldset>

    <fieldset class="btn-form col-50">
      <%= f.submit value: 'Gravar', data: { disable_with: 'Gravando...' } %>
    </fieldset>
  <% end %>
</div>
