<div class="frm model users">
  <%= render partial: 'shared/model_header', locals: { icone: 'users', texto: 'Usuários'} %>
  <div class="tab-lista users">
    <div class="frm-actions">
      <div class="form-find">
        <%= content_tag :div, '', data: { controller: 'formfind', formfind_url_value: user_filter_path(), formfind_target_value: 'main_lista_users' }, class: 'frm-actions lista-actions' do %>
          <ul>
            <li>
              <div class="filtro-item nome">
                <%= text_field_tag 'nome', '', placeholder: 'localizar', class: 'filtro-item', data: { formfind_target: 'findField'} %>
                <%= content_tag :span, fas_icon('search'), class: 'insideico' %>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="lista users" id="lista-users">
    <%= content_tag :label, "#{@users.count} registros,", class: 'count-items', id: 'lista_users_count' %>
    <div class="lista-header">
      <ul>
        <li class="nome">Nome</li>
        <li class="email">e-Mail</li>
        <li class="nickname">Nickname</li>
      </ul>
    </div>
    <div class="lista-data" id="users-lista">
      <%= content_tag :div, fas_icon('spinner', animation: :spin), data: { controller: 'pagination', pagination_target: 'main', pagination_main_url_value: user_page_main_path(), pagination_next_page_url_value: user_next_page_path(), pagination_filter_url_value: user_filter_path}, id: 'main_lista_users', class: 'users_lista_container' %>
    </div>
  </div>
</div>

